/* src/styles.css */
.map-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .svg-map {
    width: 100%;
    height: 100%;
  }
  
  .country:hover {
    fill: lightblue; /* Highlight color */
    cursor: pointer;
  }
.country{
    fill: blue;
}